* {
    margin: 0;
    padding: 0;
    ;
}

body {
    /* background-image: url(../images/bg.jpg); */
    background-image:linear-gradient(125deg, #00BCD4, #03A9F4, #3F51B5, #673AB7);
    background-repeat: no-repeat;
    background-size: cover;
}

.side-navbar {
    box-shadow:4px -1px 54px 10px rgba(83, 22, 83, 0.89);
    height: 100vh;
    z-index: 1;
    animation: bgchange 4s ease infinite;
    
}

@keyframes bgchange {
    0% {
        background-image: linear-gradient(125deg, #00BCD4, #03A9F4, #3F51B5, #673AB7);
        background-position: 0% 50%;
        background-size: 400%;
    }

    50% {
        background:linear-gradient(125deg, #00BCD4, #03A9F4, #3F51B5, #673AB7);
        background-position: 100% 50%;
        background-size: 400%;
    }
    100%

    {
        background-image: linear-gradient(125deg, #00BCD4, #03A9F4, #3F51B5, #673AB7);
        background-position: 0% 50%; 
        background-size: 400%;
    }
}

* {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Social Links */

#socialLinkSection {
    margin-top: 3px;
    margin-bottom: 8px;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
}

#socialLinkContent {
    padding-top: 10px;
    text-align: center;
}

.links {
    margin: 0 20px 0 20px;
    display: inline-block;
    font-size: 16px;
    color: #212121;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.links:hover {
    background-color: lightgrey;
}


/* Profile Image */

#profileImage {
    width: 150px;
    height: 150px;
    margin-left: 100px;
    margin-top: px;
    border: 0.1px solid black;
    border-radius: 200px;
    text-align: center;
}

/* The various Texts */

#heroName {
    position: relative;
    overflow: hidden;
    font-size: 2.2rem;
    margin-top: 20px;
    font-family: 'Saira Semi Condensed', sans-serif;
    
}

#description {
    font-family: 'Saira Semi Condensed', sans-serif;
}

#description {
    font-size: 1.3rem;
}

#portfolioTitle {
    margin-left: 8px;
}

#portfolioText {
    margin-top: 0px;
    margin-bottom: -30px;
    font-weight: 500;
    font-size: 2.2rem;
}

#firstCategoryText {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.4rem;
}

#portfolioColumn {
    padding: 24px;
}

/* Cards */
.card-main-image,
.card-image {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.card {
    border-radius: 2px;
}

.card-content {
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}

/* Breakpoint resizing */
@media only screen and (max-width: 1260px) {
    #portfolioText {
        font-size: 2rem;
        margin-bottom: -20px;
    }
    #firstCategoryText {
        font-size: 1.2rem;
    }
    #heroName {
        font-size: 2.0rem;
    }
    #description {
        font-size: 1.1rem;
    }
    #profileImage {
        height: 125px;
        width: 125px;
        margin-top: calc(30%);
    }
}

@media only screen and (max-width: 992px) {
    #profileImage {
        margin-top: calc(10%);
    }
    #portfolioTitle {
        text-align: center;
    }
    #portfolioColumn {
        padding-left: 8px;
        padding-right: 8px;
    }
}

#contactButton {
    border: 2px solid black;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}

#contactButton p {
    margin: 0px;
    margin-top: -1px;
}

#contactButton:hover {
    color: white;
    background-color: black;
}
/* Colors */

.primary-light {
    color: #90CAF9;
}

.primary-normal {
    color: #2196F3;
}

.primary-dark {
    color: #1976D2;
}

.secondary-light {
    color: #FFE082;
}

.secondary-normal {
    color: #FFC107;
}

.secondary-dark {
    color: #FFA000;
}

.primary-light-b {
    background-color: #90CAF9;
}

.primary-normal-b {
    background-color: #2196F3;
}

.primary-dark-b {
    background-color: #1976D2;
}

.secondary-light-b {
    background-color: #FFE082;
}

.secondary-normal-b {
    background-color: #FFC107;
}

.secondary-dark-b {
    background-color: #FFA000;
}

#profileColumn {
    position: fixed;
    margin-left: 60px;
    line-height: 50px;
}

#profileColumn a {
    font-size: 20px;
    color: black;
}


#profileColumn a:hover {
    font-size: 20px;
    color: black;
    text-decoration-line: none;
    text-align: center;
}

ul,li {
    list-style: none;
    width: 100%;
}

#profileColumn a {
    line-height: 50px;
}


#profileColumn a:hover {
    line-height: 50px;
    color: white;
    animation:4s ease-in;
}

.banner-area {
    height: 90%;
    width: 90%;
    margin: 40px;
    background-color: white;
   
    border: 0.1px solid black;
    box-shadow: 4px 0px 72px 5px rgba(0,0,0,0.75);
}


.table-area {
    margin: 40 auto 0 auto;
    font-size: 20px;
    ;
}

tr {
    padding:10px;
}

.export {
    color: black;
    text-align: center;
    justify-content: center;
    margin: 40px 0 10px 750px;
    line-height: 25px;
    font-size: 20px;
}

td {
    padding: 10px;
}

p {
    color: black;
    font-size: 20px;
    line-height: 80px;
    margin-left: 20px;
}

.chartview {
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    font-size: 40px;
}